body {
    padding: 0;
    margin: 0;
}

fieldset {
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

fieldset, legend {
    margin-left: 2%;
    margin-bottom: 3%;
}

html, body, #map {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    height: 100%;
}

html, body, h2 {
    font-weight: 400;
}

span.modal-icon {
    font-size: 0.8em;
}

div.title-control {
    font-family: 'Garamond', Times, serif;
    font-weight: 700;
    font-size: 12pt;
}

div.flight-leg {
    font-weight: 700;
    font-size: 1.0em;
}

div.flight-turn {
    margin-left: -20px !important;
    margin-top: 10px !important;
    font-weight: 700;
    font-size: 1.0em;
}

div.flight-start-alt {
    margin-left: -20px !important;
    margin-top: 22px !important;
    font-weight: 700;
    font-size: 1.0em;
}

div.map-text {
    text-align: center;
    height: unset !important;
    width: unset;
    color: #ffffff;
    background: rgba(100, 100, 100, .75);
    padding: 0 5px;
}

div.flight-leg.map-text {
    width: 158px;
    text-align: center;
}

div.flight-turn.map-text {
    height: auto !important;
    width: auto !important;
    text-align: center;
}

div.flight-start-alt.map-text {
    height: auto !important;
    width: auto !important;
    text-align: center;
}

div.map-text.inverted {
    color: #000000;
}

div.map-text:hover,
div.map-text.inverted:hover {
    color: #1B4FB1;
}

div.map-text.nobg {
    background: unset !important;
}

div.button-row {
    margin-top: 5%;
}

div.map-title {
    font-family: 'Courier', Courier, monospace;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
}

div.flight-title {
    font-size: 1.5em;
}

.text-path-flight-title {
    font-size: 1.5em;
    font-weight: 700;
}

div.target-title-cb {
    margin-left: -85px !important;
    margin-top: 20px !important;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.7em;
    text-align: center;
    line-height: 100%;
}

div.target-title-classic {
    margin-left: 18px !important;
    font-size: 1.3em;
}

div.target-title-classic-centered {
    margin-left: -85px !important;
    margin-top: 20px !important;
    text-align: center;
    font-size: 1.3em;
}

div.target-title-airfield {
    margin-left: -85px !important;
    margin-top: 20px !important;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
}

h3.help-header {
    font-size: 2.0rem;
    text-align: right;
}

.half-width {
    width: 50%;
}

.bold {
    font-weight: 700;
}

.summary {
    font-weight: 600;
    font-size: 1.1em;
}

a.streaming {
    color: green;
}

a.streaming:hover {
    color: green;
}

a.connected {
    color: blue;
}

a.connected:hover {
    color: blue;
}

a.stream-error {
    color: #9A070B;
}

a.stream-error:hover {
    color: #9A070B;
}

div.error-message {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #9A070B;
    background-color: #FEE7E7;
    color: #9A070B;
}

div.hidden-section {
    display: none;
}

label.checkbox-label {
    font-weight: 400;
}

button.button-primary {
    background-color: #9A070B;
    border-color: #9A070B;
}

button.button-primary:hover,
button.button-primary:focus {
    background-color: #DB0A11;
    border-color: #DB0A11;
}

img.modal-image {
    max-height: 100%;
    max-width: 100% !important;
}

.popup {
    pointer-events: none;
}

#point-type-select {
    margin-left: 0%;
}

#already-streaming-hidden {
    margin-top: 14px;
}

@media(max-width: 1600px) {

    div.flight-leg {
        font-size: 1.0em;
    }

}

@media(max-width: 400px) {
    div.title-control {
        max-width: 260px;
    }
}

/* Custom dropdown styling */
.ms-pr {
    position: relative;
}
.ms-dd:focus-visible {
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    outline-width: 0;
}
.ms-dd {
    background: #eee;
    display: inline-block;
    font-family: Sans-Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: center;
    width: 260px;
}
.ms-dd button:focus, .ms-dd input:focus, .ms-dd select:focus, .ms-dd textarea:focus {
    outline: none;
}
.ms-dd .ms-value-input {
    border: 0;
    left: 20px;
    position: absolute;
    top: 10px;
    width: 50%}
.ms-dd .ms-dd-header {
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 2px;
    cursor: pointer;
    min-height: 35px;
    position: relative;
    width: 100%}
.ms-dd .ms-dd-header .option-selected {
    color: #000;
    display: block;
    font-weight: 600;
    overflow: hidden;
    padding: 10px 20px 10px 10px;
    pointer-events: none;
}
.ms-dd .ms-dd-header a {
    display: block;
}
.ms-dd .ms-dd-header .ms-list-counter, .ms-dd .ms-dd-header input[type=checkbox] {
    display: none;
}
.ms-dd .ms-dd-header .ms-header-counter {
    color: #0e76a8;
    font-weight: 400;
}
.ms-dd .ms-dd-header .ms-filter-box {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 6px 10px;
}
.ms-dd .ms-dd-header .ms-filter-box input, .ms-dd .ms-dd-header .ms-filter-box input:focus, .ms-dd .ms-dd-header .ms-filter-box input:focus-visible {
    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 25px;
    padding-left: 6px;
    width: 100%}
.ms-dd .ms-dd-header .ms-filter-box input:focus-visible {
    outline: 1px solid transparent;
}
.ms-dd .ms-dd-option-image, .ms-dd .ms-dd-selected-img {
    margin-right: 5px;
    max-width: 32px;
    vertical-align: middle;
}
.ms-dd .ms-dd-arrow {
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
}
.ms-dd .ms-dd-arrow.ms-dd-pointer-down {
    border: 5px solid transparent;
    border-top-color: #000;
}
.ms-dd .ms-dd-arrow.ms-dd-pointer-up {
    border: 5px solid transparent;
    border-bottom-color: #000;
    margin-top: -8px;
}
.ms-dd .ms-options {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 1px 5px #ddd;
    display: none;
    list-style: none;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.ms-dd .ms-list-option, .ms-dd .ms-optgroup ul .ms-list-option {
    align-items: center;
    border-bottom: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-decoration: none;
}
.ms-dd .ms-list-option input[type=checkbox], .ms-dd .ms-optgroup ul .ms-list-option input[type=checkbox] {
    margin-right: 5px;
    vertical-align: middle;
}
.ms-dd .ms-list-option:last-child, .ms-dd .ms-optgroup ul .ms-list-option:last-child {
    border-bottom: none;
}
.ms-dd .ms-list-option:hover, .ms-dd .ms-optgroup ul .ms-list-option:hover {
    background: #f3f3f3;
    color: #000;
}
.ms-dd .ms-list-option.option-selected, .ms-dd .ms-optgroup ul .ms-list-option.option-selected {
    background: #f6f6f6;
}
.ms-dd .ms-list-option.ico-align-right .ms-dd-option-image, .ms-dd .ms-list-option.ico-align-right .ms-dd-selected-img, .ms-dd .ms-optgroup ul .ms-list-option.ico-align-right .ms-dd-option-image, .ms-dd .ms-optgroup ul .ms-list-option.ico-align-right .ms-dd-selected-img {
    order: 2;
}
.ms-dd .ms-list-option.disabled, .ms-dd .ms-list-option:disabled, .ms-dd .ms-optgroup ul .ms-list-option.disabled, .ms-dd .ms-optgroup ul .ms-list-option:disabled {
    cursor: default;
    opacity: .4;
}
.ms-dd .ms-list-option .ms-dd-desc, .ms-dd .ms-optgroup ul .ms-list-option .ms-dd-desc {
    color: #aaa;
    display: block;
    font-weight: 400;
    line-height: 1.5em;
    overflow: hidden;
    text-shadow: 0 1px .5px #fff;
}
.ms-dd .ms-header-middle-content, .ms-dd .ms-middle {
    display: flex;
    justify-content: flex-start;
    width: 100%}
.ms-dd.disabled, .ms-dd:disabled {
    cursor: default;
    opacity: .4;
    pointer-events: none;
}
.ms-dd .ms-optgroup-padding {
    font-weight: 700;
    padding: 10px 10px 0;
}
.ms-dd .ms-optgroup {
    display: block;
}
.ms-dd .ms-optgroup:hover {
    background: #fff;
    color: #000;
}
.ms-dd .ms-optgroup ul {
    margin: 0;
    padding: 0;
}
.ms-dd .ms-optgroup ul .ms-list-option {
    padding-left: 20px;
}
.ms-dd .ms-optgroup ul:last-child {
    border-bottom: 1px solid #ddd;
}
.ms-dd .ms-dd-option-content {
    width: 100%}
:focus {
    outline: none;
}
